<footer class="bg-dark text-light text-center py-4 mt-5" style="width: 100vw; margin-left: calc(-50vw + 50%); margin-right: calc(-50vw + 50%);">
  <p class="mb-2">© 2025 Wanderlust Private Limited</p>
  <a href="/privacy" class="text-decoration-none text-light mx-2">Privacy</a> |
  <a href="/terms" class="text-decoration-none text-light mx-2">Terms</a>
</footer>
