body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Plus Jakarta Sans",sans-serif !important;
   
}
.container{
    flex: 1;
}
 .navbar{
    height: 5rem;
 }
 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }
 .nav-link{
    color: #222222 !important;
 }
 .f-info{
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    align-items: space-evenly;
    text-align: center;
 }
 .f-info-links a{
    text-decoration: none;;
    color: #222222;
 }
 .f-info-links a:hover{
    text-decoration: underline;
 }
 .f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .f-info-socials i{
    margin-right: 2rem;
    font-size: 1.2rem;
 }
 .listing-card{
    border:none !important;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
 }
 /* .card:hover {
   transform: translateY(-10px); /* Moves the card slightly up 
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
   Increases shadow for depth effect
 } */
 .card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
 }

 .card-body{
    padding: 0 !important;

 }
 .card-text{
    font-weight: 400 !important;
 }
 .listing-link{
    text-decoration: none;
 }
 .card-img-overlay{
    opacity: 0;
 }
 .card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
 }

 .add-btn{
    border: none !important;
    background-color: #fe424d !important;
 }
 /* //show image */
 .show-img{
    height: 30vh;
 }
 .btns{
   display: flex;
 }
/* Map */
/* Center the map horizontally and vertically */
/* Reduce the map size */
#map {
    width: 800px !important;
    height: 250px !important;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.map-container {
  width: 100%;       /* or width: 400px */
  height: 400px;
  margin: 0 auto;
}

.hero {
  background: url('/images/travel-banner.jpg') center/cover no-repeat;
  color: white;
  padding: 100px 20px;
}
.hero h1, .hero p {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

